

		ul.limnortv, ul.limnortv ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			background: url(/libjs/tv_lv2.png) repeat-y;
		}
		ul.limnortv ul {
			margin-left:10px;
		}
		ul.limnortv li, ul.limnortv ul li {
			margin: 0;
			padding: 0 20px;
			background-image:url(/libjs/tv_mid_empty.png);
			background-repeat:no-repeat;
		}
		ul.limnortv li[expState='0'] {
			background:url(/libjs/tv_root_empty.png) no-repeat;
		}
		ul.limnortv li[expState='1'] {
			background:url(/libjs/tv_root_first.png) no-repeat;
		}
		ul.limnortv li[expState='2'] {
			background:#fff url(/libjs/tv_root_plus.png) no-repeat;
		}
		ul.limnortv li[expState='2'] ul {
			display:none;
		}
		ul.limnortv li[expState='3'] {
			background:#fff url(/libjs/tv_root_minus.png) no-repeat;
		}
		ul.limnortv li[expState='4'] {
			background-image:url(/libjs/tv_root_plus.png);
		}
		ul.limnortv li[expState='4'] ul {
			display:none;
		}
		ul.limnortv li[expState='5'] {
			background-image:url(/libjs/tv_root_minus.png);
		}		
		ul.limnortv li[expState='6'] {
			background:#fff url(/libjs/tv_last_empty2.png) no-repeat;
		}
		ul.limnortv li[expState='7'] {
			background:#fff url(/libjs/tv_last_plus.png) no-repeat;
		}
		ul.limnortv li[expState='7'] ul {
			display:none;
		}
		ul.limnortv li[expState='8'] {
			background:#fff url(/libjs/tv_last_minus.png) no-repeat;
		}
		ul.limnortv li[expState='10'] {
			background-image:url(/libjs/tv_mid_plus.png);
		}
		ul.limnortv li[expState='10'] ul {
			display:none;
		}
		ul.limnortv li[expState='11'] {
			background-image:url(/libjs/tv_mid_minus.png);
		}		

		ul.limnortv li[expState='101'] {
			background-image:url(/libjs/tv_mid_empty.png);
		}

		ul.limnortv li[cursorstate='1'] {
			cursor:pointer;
		}